name: CI/CD Pipeline

on:
    push:
        branches:
            - main

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and push backend
              run: |
                docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-backend:lastest ./backend
                docker push ${{ secrets.DOCKER_USERNAME }}/mean-backend:latest

            - name: Build and push frontend
              run: |
                docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-frontend:latest ./frontend
                docker push ${{ secrets.DOCKER_USERNAME }}/mean-frontend:latest

            - name: Deploy to EC2 via SSH
              uses: appleboy/ssh-action@v1.0.0
              with:
                host: ${{ secrets.VM_HOST }}
                username: ubuntu
                key: ${{ secrets.VM_SSH_KEY }}
                script: |
                    cd /home/ubuntu
                    docker compose pull
                    docker compose up -d